<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TWITTER_API_KEY</key>
	<string>GkAMSJYXWIfuSU94Sg</string>
	<key>TWITTER_API_SECRET</key>
	<string>gccTKAn8CcjS1lTSH9o9BaVZAZpYAQqihxAUhaGg</string>
	<key>TWITTER_ACCESS_TOKEN</key>
	<string>100810425-o5Km5uadKnl1MHR1OVXdf9H0isQaPhN63vMLlcMk</string>
	<key>TWITTER_ACCESS_TOKEN_SECRET</key>
	<string>cLwdbEqy3hUXPmmpDBIgTxkfoIQEyL6PhatECs2p9N4UN</string>
</dict>
</plist>
